$base-menu-background:transparent;
$base_background_color: rgb(193, 193, 193);

$layout_menu_backgroundColor:#2e2e2e;
$layout_background_color: #f7f7f7;
$layout_seperate: #d6d6d6;

$layout_chats_background:#e6e6e6;

$chat_theme_color:#f5f5f5;

$theme_color:#07c160;

$theme_header_height:70px;
$theme_header_com:#e2e2e2;


$theme_Listitem_hover:#d3d1d0;
